  <!-- Pied de page -->
    <footer class="footer">
      <nav class="container">
        <div class="footer__container">
          <!-- À propos -->
          <section class="footer__section">
            <header>
              <h2 class="footer__section__title h2">À propos</h2>
            </header>

            <ul class="footer__section__list">
              <li class="footer__section__list-item">
                <a href="#">Fonctionnement du site</a>
              </li>
              <li class="footer__section__list-item">
                <a href="#">Conditions générales de vente</a>
              </li>
              <li class="footer__section__list-item">
                <a href="#">Données et confidentialité</a>
              </li>
            </ul>
          </section>

          <!-- Nos hébergements -->
          <section class="footer__section">
            <header>
              <h2 class="footer__section__title h2">Nos hébergements</h2>
            </header>

            <ul class="footer__section__list">
              <li class="footer__section__list-item">
                <a href="#">Charte qualité</a>
              </li>
              <li class="footer__section__list-item">
                <a href="#">Soumettre votre hôtel</a>
              </li>
            </ul>
          </section>

          <!-- Assistance -->
          <section class="footer__section">
            <header>
              <h2 class="footer__section__title h2">Assistance</h2>
            </header>

            <ul class="footer__section__list">
              <li class="footer__section__list-item">
                <a href="#">Centre d'aide</a>
              </li>
              <li class="footer__section__list-item">
                <a href="#">Nous contacter</a>
              </li>
            </ul>
          </section>
        </div>
      </nav>

      <p class="gtnsimon__by container">
        <em>Maquette du parcours <a href="https://gtnsimon.dev/?gh=booki" target="_blank" rel="noreferrer" title="Consulter le parcours de Développeur Web sur OpenClassrooms">Développeur Web</a> sur OpenClassrooms.</em><br>
        Proposé par <a href="https://gtnsimon.dev/?gh=booki" target="_blank" rel="noreferrer" title="Travailler avec Gaëtan SIMON">Gaëtan SIMON</a> (mentor), <em>développeur web passionné</em> - <a href="https://github.com/gtnsimon/booki" target="_blank" rel="noreferrer" title="Consulter le code source du projet">GitHub</a>
      </p>
    </footer>